<style>
body {
  background: <img src="lcc.jpg";
  background-position: absolute;
  }
footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.mainmenu {
display: inline-block;
}
</style>